.img1{
        float: left;
        margin-left: 125px;
        margin-top: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        background-color: blue;
        align-items: center;
        flex-wrap: wrap;
        display: flex ;
        
      }
