.instagram__item {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.instagram__item::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(212, 28, 74, 0.719);
  content: "";
  opacity: 0;
  z-index: -1;
  transition: all, 0.3s;
}

.instagram__text {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all, 0.3s;
}

.instagram__text i {
  font-size: 30px;
  color: #0d0d0d;
}

.instagram__text a {
  font-size: 16px;
  color: #0d0d0d;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}
